{% extends './base.html'%}{% block content %}
<div class="order-confirm d-flex justify-center align-center">
  {% if status %}
  <p class="fas fa-check-circle"></p>
  <h2 class="text-center">
    Congratulations, <br />
    Your Order Has Been Placed.
  </h2>
  <div class="no-cart-items">
    <a href="{% url 'home_page' %}"
      ><input type="button" value="Click Here To Shop More"
    /></a>
  </div>
  {% else %}
  <p class="fa fa-times" style="color: red;"></p>
  <h2 class="text-center" style="font-size: 30px;">
    Sorry, <br />
    Payment Failed. <br />
    Any amount deducted will be refunded within 2-5 working days.
  </h2>
  <div class="no-cart-items">
    <a href="{% url 'cart_page' %}"
      ><input type="button" value="Click Here To Try Again"
    /></a>
  </div>
  {% endif %}
</div>
{% endblock %}
