<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clothing Store</title>
  </head>
  <body>
    <div class="redirecting text-center">
      <h2>Redirecting You To Payment Merchant...</h2>
      <h2>Please Do not Refresh Your Page...</h2>
      <form action="" method="POST" name="payment-paytm"></form>
    </div>
    <script>
      const form = document.querySelector(".redirecting form");
      form.submit();
    </script>
  </body>
</html>
