{% extends './base.html' %}{% block content %}{% load static %}
<div class="new-address-modal">
  <div class="new-address-form-container d-flex align-center justify-center">
    <h2>Add New Address</h2>
    <form method="POST">
      {% csrf_token %} {{form.as_p}}
      <div class="address-action-buttons">
        <button type="button" class="cursor-pointer">Cancel</button>
        <button type="Submit" class="cursor-pointer">Add</button>
      </div>
    </form>
  </div>
</div>

<div class="saved-addresses-container">
  {% if not count%}
  <div class="no-addresses text-center">
    <h2>You Don't Have Any Saved Addresses</h2>
  </div>
  {% else %}
  <div class="address-landing">
    <h2>Saved Addresses for {{request.user.first_name}}</h2>
  </div>
  {% for address in addresses %}
  <div class="address-container">
    <h3>{{address.name}}</h3>
    <p>{{address.mobile}}</p>
    <p>{{address.address}}</p>
    <p>{{address.locality}}</p>
    <p>{{address.state}}</p>
    <p>{{address.city}}</p>
    <p>{{address.pin_code}}</p>
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="delete-address" value="delete-address" />
      <button
        type="submit"
        value="{{address.pk}}"
        name="address-id"
        class="cursor-pointer"
      >
        <i class="fa fa-trash" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  {% endfor %} {% endif %}
</div>

<div class="add-new-address">
  <button type="button" class="cursor-pointer">Add New Address</button>
</div>
<script src="{% static 'js/addressApp.js' %}"></script>
{% endblock %}
